{% autoescape off %}{% if user.mcuser.activated %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% else %}Welcome to {{ site_name }}! An account has been created for you, so all you need to do is set a password.
{% endif %}
Your username is: {{ user.get_username }}

Please go to the following page to choose your new password:
{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% endautoescape %}
