{% extends "large_container.html" %}

{% load core_tags %}
{% load widget_tweaks %}

{% block title %}
Make a suggestion
{% endblock %}

{% block inner_content %}
<div class="text-center">
  <h4>Make a suggestion to improve the Program</h4>
  {% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message|capfirst|safe }}</div>
    {% endfor %}
  {% endif %}
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form method="post" action="{{ form.url }}" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group margin-sm">
        <label for="id_{{ form.title.name }}" class="form-label">
          Title
        </label>
        {{ form.title|add_class:"form-control" }}
        <span class="errors">{{ form.title.errors }}</span>
      </div>
      <div class="form-group margin-sm">
        <label for="id_{{ form.body.name }}" class="form-label">
          Description
        </label>
        {{ form.body|add_class:"form-control" }}
        <span class="errors">{{ form.body.errors }}</span>
      </div>
      <div class="form-group margin-sm">
        <input type="checkbox" id="anonymous" name="anonymous" checked>
        <label for="anonymous" class="form-label">
          Yes, I would like to submit this anonymously
        </label>
      </div>
      <div class="text-center">
        <input type="submit" value="Submit" class="btn btn-default">
      </div>
    </form>
  </div>
</div>

{% endblock %}
