{% if active %}
  <div class="row margin-bot-sm">
    <div class="text-center">
      <label>Class:&nbsp;&nbsp; </label>
      <select style="width:80px; padding-left:5px" onchange="javascript:location.href = this.value;">
        {% for year in class_years %}
        <option value="/scholars/class/{{ year }}" {% if active == year %}selected="selected"{% endif %}>{{ year }}</option>
        {% endfor %}
        <option value="/staff" {% if active == 'staff' %}selected="selected"{% endif %}>Staff</option>
      </select>
    </div>
  </div>

{% endif %}