{% extends "large_container.html" %}

{% load core_tags %}
{% load widget_tweaks %}
{% load permission_tags %}

{% block title %}
Edit Info
{% endblock %}

{% block inner_content %}

<div class="row">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a>Profile</a></li>
    <li role="presentation"><a href="{% url 'edit_edu' mcuser.norm_name %}">Education</a></li>
    <li role="presentation"><a href="{% url 'edit_exp' mcuser.norm_name %}">Experience</a></li>
    <li role="presentation"><a href="{% url 'edit_abroad' mcuser.norm_name %}">Study Abroad</a></li>
    <li role="presentation"><a href="{% url 'edit_honor' mcuser.norm_name %}">Honors</a></li>
  </ul>
  <br>
  <div class="col-md-12" id="messageContainer">
    {% if messages %}
      {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message|capfirst|safe }}</div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="col-md-12 margin-bot-md text-center">
    <span class="staff-only">Orange fields</span> are viewable by staff only.
  </div>
  {% if form.errors %}
    There were errors!
      {% for field in form %}
        {% for error in field.errors %}
          <p> {{ error }} {{ field.label_tag }} </p>
        {% endfor %}
      {% endfor %}
  {% endif %}
  <form enctype="multipart/form-data" method="post" action="{% url 'edit_info' mcuser.norm_name %}" class="form-horizontal" id="formInfo">
  {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {{ hidden.errors }}
    {% endfor %}

    <!-- Manual HTML for McUser form -->
    <div class="col-md-6 col-sm-6 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.first_name.name }}" class="form-label">
          First name
        </label>
        {{ form.first_name|add_class:"form-control" }}
        <span class="error">{{ form.first_name.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.last_name.name }}" class="form-label">
          Last name
        </label>
        {{ form.last_name|add_class:"form-control" }}
        <span class="error">{{ form.last_name.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.maiden_name.name }}" class="form-label">
          Maiden name
        </label>
        {{ form.maiden_name|add_class:"form-control" }}
        <span class="error">{{ form.maiden_name.errors }}</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.birthday.name }}" class="form-label">
          Birthday
            <input type="checkbox" id="checkbox_{{ form.birthday.name }}" name="checkbox_{{ form.birthday.name }}" value="true" class="visibility-checkbox"{% if mcuser|fieldhidden:'birthday' %} checked {% endif %}>
        </label>
        {{ form.birthday|add_class:"form-control" }}
        <span class="error">{{ form.birthday.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="form-group margin-sm">
        <label for="id_{{ form.class_year.name }}" class="form-label">
          Class year
        </label>
        {{ form.class_year|add_class:"form-control" }}
        <span class="error">{{ form.class_year.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <div class="form-group margin-sm">
        <label for="id_{{ form.gender.name }}" class="form-label">
          Gender
        </label>
        {{ form.gender|add_class:"form-control" }}
        <span class="error">{{ form.gender.errors }}</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group margin-sm">
        <label for="id_{{ form.high_school.name }}" class="form-label">
          High School
        </label>
        {{ form.high_school|add_class:"form-control" }}
        <span class="error">{{ form.high_school.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.hometown.name }}" class="form-label">
          Hometown City
        </label>
        {{ form.hometown|add_class:"form-control" }}
        <span class="error">{{ form.hometown.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.hometown_state.name }}" class="form-label">
          Hometown State
        </label>
        {{ form.hometown_state|add_class:"form-control" }}
        <span class="error">{{ form.hometown_state.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.mailing_address.name }}" class="form-label address-label">
          Address
          <input type="checkbox" id="checkbox_address" name="checkbox_address" value="true" class="visibility-checkbox"{% if mcuser|fieldhidden:'address' %} checked {% endif %}>
        </label>
        {{ form.mailing_address|add_class:"form-control" }}
        <span class="error">{{ form.mailing_address.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.mailing_city.name }}" class="form-label address-label">
          Address City
        </label>
        {{ form.mailing_city|add_class:"form-control" }}
        <span class="error">{{ form.mailing_city.errors }}</span>
      </div>
    </div>
      <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.mailing_state.name }}" class="form-label address-label">
          Address State
        </label>
        {{ form.mailing_state|add_class:"form-control" }}
        <span class="error">{{ form.mailing_state.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.mailing_zip.name }}" class="form-label address-label">
          Address Zip Code
        </label>
        {{ form.mailing_zip|add_class:"form-control" }}
        <span class="error">{{ form.mailing_zip.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.mailing_country.name }}" class="form-label address-label">
          Address Country (if not USA)
        </label>
        {{ form.mailing_country|add_class:"form-control" }}
        <span class="error">{{ form.mailing_country.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.mailing_address_type.name }}" class="form-label staff-only">
          Address Type
        </label>
        {{ form.mailing_address_type|add_class:"form-control" }}
        <span class="error">{{ form.mailing_address_type.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.dorm_type.name }}" class="form-label">
          Housing
        </label>
        {{ form.dorm_type|add_class:"form-control" }}
        <span class="error">{{ form.dorm_type.errors }}</span>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.dorm_number.name }}" class="form-label">
          Room / Apt Number
          <input type="checkbox" id="checkbox_{{ form.dorm_number.name }}" name="checkbox_{{ form.dorm_number.name }}" value="true" class="visibility-checkbox" {% if mcuser|fieldhidden:'dorm_number' %} checked {% endif %}>
        </label>
        {{ form.dorm_number|add_class:"form-control" }}
        <span class="error">{{ form.dorm_number.errors }}</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.phone_number.name }}" class="form-label">
          Phone Number
          <input type="checkbox" id="checkbox_{{ form.phone_number.name }}" name="checkbox_{{ form.phone_number.name }}" value="true" class="visibility-checkbox" {% if mcuser|fieldhidden:'phone_number' %} checked {% endif %}>
        </label>
        {{ form.phone_number|add_class:"form-control" }}
        <span class="error">{{ form.phone_number.errors }}</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.email.name }}" class="form-label">
          Email
          <input type="checkbox" id="checkbox_{{ form.email.name }}" name="checkbox_{{ form.email.name }}" value="true" class="visibility-checkbox" {% if mcuser|fieldhidden:'email' %} checked {% endif %}>
        </label>
        {{ form.email|add_class:"form-control" }}
        <span class="error">{{ form.email.errors }}</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.website.name }}" class="form-label">
          Personal Website
        </label>
        {{ form.website|add_class:"form-control" }}
        <span class="error">{{ form.website.errors }}</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="form-group margin-sm">
        <label for="id_{{ form.facebook.name }}" class="form-label">
          Facebook
        </label>
        {{ form.facebook|add_class:"form-control" }}
        <span class="error">{{ form.facebook.errors }}</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="form-group margin-sm">
        <label for="id_{{ form.linkedin.name }}" class="form-label">
          LinkedIn
        </label>
        {{ form.linkedin|add_class:"form-control" }}
        <span class="error">{{ form.linkedin.errors }}</span>
      </div>
    </div>
    {% if mcuser.is_alumni %}
      <div class="col-md-6 col-sm-12">
        <div class="form-group margin-sm">
          <label for="id_{{ form.significant_other.name }}" class="form-label staff-only">
            Significant other:
          </label>
          {{ form.significant_other|add_class:"form-control" }}
          <span class="error">{{ form.significant_other.errors }}</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group margin-sm">
          <label for="id_{{ form.children.name }}" class="form-label staff-only">
            Child(ren):
          </label>
          {{ form.children|add_class:"form-control" }}
          <span class="error">{{ form.children.errors }}</span>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="form-group margin-sm">
          <label for="id_{{ form.personal_news.name }}" class="form-label staff-only">
            Personal news:
          </label>
          {{ form.personal_news|add_class:"form-control" }}
          <span class="error">{{ form.personal_news.errors }}</span>
        </div>
      </div>
    {% endif %}
    <!--TODO: Replace this with something else later -->
    <div class="col-md-4 col-md-offset-4 col-sm-12 text-center margin-height-md">
      {{ form.pic }}
      <span class="error">{{ form.pic.errors }}</span>
    </div>
    {% if user|has_role:'staff' %}
      <div class="col-md-12 col-sm-12">
        <h4>Staff edit only:</h4>
        <hr>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="form-group margin-sm">
              <label for="id_{{ form.right_after.name }}" class="form-label">
                Right after McDermott:
              </label>
              {{ form.right_after|add_class:"form-control" }}
              <span class="error">{{ form.right_after.errors }}</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group margin-sm">
              <label for="id_{{ form.ultimate.name }}" class="form-label">
                Ultimately grad/prof:
              </label>
              {{ form.ultimate|add_class:"form-control" }}
              <span class="error">{{ form.ultimate.errors }}</span>
            </div>
          </div>

          <div class="col-md-6 col-sm-12">
            <div class="form-group margin-sm">
              <label for="id_{{ form.num_degrees.name }}" class="form-label">
               # of Grad Degrees (completed+in-progress):
              </label>
              {{ form.num_degrees|add_class:"form-control" }}
              <span class="error">{{ form.num_degrees.errors }}</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group margin-sm">
              <label for="id_{{ form.married.name }}" class="form-label">
                Married to another McDermott
              </label>
              {{ form.married }}
              <span class="error">{{ form.married.errors }}</span>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="col-md-12 col-sm-12 text-center">
      <br>
      <input class="btn btn-default" type="submit" value="SAVE" />
    </div>
  </form>
</div>


<script>
  var inputChanged = false;
  $(document).ready(function() {
    $('#formInfo input').on('input', function() {
      if(!inputChanged) {
        $('#messageContainer').empty();
        $('#messageContainer').append('<div class="alert alert-warning" role="alert">Don\'t forget to save your changes!</div>');
        inputChanged = true;
      }
    });
    $('.visibility-checkbox:checked').each(function() {
      var element = $(this).attr('id').replace('checkbox', 'id');
      var label = $('label[for=' + element + ']');
      if($(this).attr('id') == 'checkbox_address') {
        label = $('.address-label')
      }
      label.addClass('staff-only');
    });
    $('.visibility-checkbox').change(function() {
      var element = $(this).attr('id').replace('checkbox', 'id');
      var label = $('label[for=' + element + ']');
      if($(this).attr('id') == 'checkbox_address') {
        label = $('.address-label')
      }
      if($(this).is(':checked')) {
        label.addClass('staff-only');
      }
      else {
        label.removeClass('staff-only');
      }

    });
    $('.datepicker').datepicker();
  });
</script>
{% endblock %}
