{% extends "base.html" %}

{% load thumbnail %}

{% block content %}

<h2>{{ profile.user.get_full_name }}</h2>

{% thumbnail profile.pic "100x100" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}

<p>Class: {{ profile.class_year }}</p>
<p>Major: {{ profile.major }}</p>
<p>Major2: {{ profile.major2 }}</p>
<p>Minor: {{ profile.minor }}</p>
<p>Minor2: {{ profile.minor2 }}</p>
<p>Hometown: {{ profile.hometown }}</p>
<p>High School: {{ profile.high_school }}</p>
<p>Phone number: {{ profile.phone_number }}</p>

{% endblock %}