{% extends "large_container.html" %}

{% load core_tags %}
{% load permission_tags %}
{% load thumbnail %}

{% block title %}
{{ profile.get_full_name }}
{% endblock %}

{% block inner_content %}

<!-- Name and contact info-->
<div>
  <div class="profile-name">
    <h3>{{ profile.get_full_name_with_maiden }}</h3>
  {% if profile.user|has_role:'staff' %}
    {% if profile.staff_title %}
      <h5 style="margin-top:-8px; margin-bottom: 25px">{{ profile.staff_title }}</h5>
    {% endif %}
  {% endif %}
  </div>
  {% thumbnail profile.pic "200x200" crop="center" as im %}
    <img class="profile-pic" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
  {% endthumbnail %}
  <h4 class="margin-bot-sm">Personal Information
    {% if is_self or user|can:'edit_all_info' %}
      <a href="{% url 'edit_info' profile.norm_name %}" class="btn btn-default btn-sm profile-show-btn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit</a>
    {% endif %}
  </h4>
  <div class="profile-contact-card indented">
    {% if profile.class_year %}
      <p><span class="profile-contact-field">Class:</span> {{ profile.class_year }}</p>
    {% endif %}
    {% if profile.user|has_role:'staff' %}
      {% if profile.staff_phone %}
        <p>
          <span class="profile-contact-field">Office Phone:</span>
          {{ profile.staff_phone|displayphone }}
        </p>
      {% endif %}
    {% endif %}
    {% if is_self or user|has_role:'staff' or not profile|fieldhidden:'dorm_number' %}
      {% if profile.dorm_number %}
        <p>
          <span class="profile-contact-field {% if profile|fieldhidden:'dorm_number' %} staff-only {% endif %}">
            Address:
          </span>
          {% if profile.dorm_type %}{{ profile.dorm_type }}{% endif %}
          {{ profile.dorm_number }}
        </p>
      {% endif %}
    {% endif %}
    {% if is_self or user|has_role:'staff' or not profile|fieldhidden:'phone_number' %}
      {% if profile.phone_number %}
        <p>
          <span class="profile-contact-field {% if profile|fieldhidden:'phone_number' %} staff-only {% endif %}">
          Phone:
          </span>
          {{ profile.phone_number|displayphone }}
        </p>
      {% endif %}
    {% endif %}
    {% if is_self or user|has_role:'staff' or not profile|fieldhidden:'email' %}
      {% if profile.email %}
        <p>
          <span class="profile-contact-field {% if profile|fieldhidden:'email' %} staff-only {% endif %}">
            Email:
          </span>
          {{ profile.email }}
        </p>
      {% endif %}
    {% endif %}
    {% if is_self or user|has_role:'staff' or not profile|fieldhidden:'address' %}
      {% if profile.mailing_address %}
        <p>
          <span class="profile-contact-field {% if profile|fieldhidden:'address' %} staff-only {% endif %}">
            Address:
          </span>
          {{ profile.mailing_address }}, {{ profile.mailing_city }}, {{ profile.mailing_state }} {{ profile.mailing_zip }}
          {% if profile.mailing_country %}, {{ profile.mailing_country }} {% endif %}
        </p>
      {% endif %}
    {% endif %}
    {% if user|has_role:'staff' %}
      {% if profile.mailing_address_type %}
        <p>
          <span class="profile-contact-field staff-only">
            Address type:
          </span>
          {{ profile.mailing_address_type }}
        </p>
      {% endif %}
    {% endif %}
    {% if profile.hometown or profile.hometown_state %}
      <p>Hometown:
        {% if profile.hometown %}
        {{ profile.hometown }}{% endif %}{% if profile.hometown and profile.hometown_state %},{% endif %}
        {% if profile.hometown_state %}
        {{ profile.hometown_state }}
        {% endif %}
      </p>
    {% endif %}
    {% if profile.high_school %}
      <p>High School: {{ profile.high_school }}</p>
    {% endif %}
    {% if profile.website or profile.facebook or profile.linkedin %}
      <p>
        Links:
        {% if profile.website %}
          <a href="{{ profile.website|absoluteurl }}">Website</a>
        {% endif %}
        {% if profile.facebook %}
          <a href="{{ profile.facebook|absoluteurl }}">Facebook</a>
        {% endif %}
        {% if profile.linkedin %}
          <a href="{{ profile.linkedin|absoluteurl }}">LinkedIn</a>
        {% endif %}
      </p>
    {% endif %}
    {% if is_self or user|has_role:'staff' or not profile|fieldhidden:'birthday' %}
      {% if profile.birthday %}
        <p>
          <span class="profile-contact-field {% if profile|fieldhidden:'birthday' %} staff-only {% endif %}">
            Birthday:
          </span>
          {{ profile.birthday|date:"F j" }}
        </p>
      {% endif %}
    {% endif %}
    {% if user|has_role:'staff' %}
      {% if profile.married %}
        <p>
          <span class="profile-contact-field staff-only">
            Married to another McDermott, see <a href="{% url 'married' %}">McDermott marriages</a>.
          </span>
        </p>
      {% endif %}
      {% if profile.right_after %}
        <p>
          <span class="profile-contact-field staff-only">
            Right after McD:
          </span>
          {{ profile.right_after }}
        </p>
      {% endif %}
      {% if profile.ultimate %}
        <p>
          <span class="profile-contact-field staff-only">
            Ultimately grad/prof?:
          </span>
          {{ profile.ultimate }}
        </p>
      {% endif %}
      {% if profile.in_dfw %}
        <p>
          <span class="profile-contact-field staff-only">
            Currently in DFW Area?:
          </span>
          {{ profile.in_dfw }}
        </p>
      {% endif %}
      {% if profile.current_city %}
        <p>
          <span class="profile-contact-field staff-only">
            Current city/area:
          </span>
          {{ profile.current_city }}
        </p>
      {% endif %}
      {% if profile.significant_other %}
        <p>
          <span class="profile-contact-field staff-only">
            Significant other:
          </span>
          {{ profile.significant_other }}
        </p>
      {% endif %}
      {% if profile.children %}
        <p>
          <span class="profile-contact-field staff-only">
            Child(ren):
          </span>
          {{ profile.children }}
        </p>
      {% endif %}
      {% if profile.personal_news %}
        <p>
          <span class="profile-contact-field staff-only">
            Personal news:
          </span>
          {{ profile.personal_news }}
        </p>
      {% endif %}
      <p>
        <span class="profile-contact-field staff-only">
          # of Grad Degrees (completed+in-progress):
        </span>
        {{ profile.num_degrees }}
      </p>
    {% endif %}
  </div>
</div>

{% if profile.degrees.all %}
  <h4 class="margin-bot-md">Education
    {% if is_self or user|can:'edit_all_info' %}
      <a href="{% url 'edit_edu' profile.norm_name %}" class="btn btn-default btn-sm profile-show-btn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit</a>
    {% endif %}
    <!--<button type="button" class="btn btn-sm profile-show-btn" data-toggle="collapse" data-target="#education">Show</button>-->
  </h4>
  <div id="education" class="indented">
  {% for degree in profile.degrees.all %}
    <div class="experience">
      <p class="school-name">
        {{ degree.school }}{% if degree.degree_type and degree.school %},{% endif %}
        {{ degree.degree_type }}
      </p>
      {% if degree.start_time or degree.end_time %}
        <p>{{ degree.start_time|date:"F Y" }}{% if degree.start_time and degree.end_time %} - {% endif %}{{ degree.end_time|date:"F Y" }}</p>
      {% endif %}
      {% if degree.major1 or degree.major2 %}
        <p>
          Major{% if degree.major1 and degree.major2 %}s{% endif %}:
          {{ degree.major1 }}{% if degree.major1 and degree.major2 %}, {% endif %}{{ degree.major2 }}
        </p>
      {% endif %}
      {% if degree.minor1 or degree.minor2 %}
        <p>
          Minor{% if degree.minor1 and degree.minor2 %}s{% endif %}:
          {{ degree.minor1 }}{% if degree.minor1 and degree.minor2 %}, {% endif %}{{ degree.minor2 }}
        </p>
      {% endif %}
    </div>
  {% endfor %}
  </div>
{% endif %}

{% if profile.experiences.all %}
  <h4 class="margin-bot-md">Experience
    {% if is_self or user|can:'edit_all_info' %}
      <a href="{% url 'edit_exp' profile.norm_name %}" class="btn btn-default btn-sm profile-show-btn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit</a>
    {% endif %}
    <!--<button type="button" class="btn btn-sm profile-show-btn" data-toggle="collapse" data-target="#experience">Show</button>-->
  </h4>
  <div id="experience" class="indented">
    {% for exp in profile.experiences.all %}
    <div class="experience">
      <p class="school-name">
        {{ exp.title }}{% if exp.title and exp.organization %} &mdash; {% endif %}
        {{ exp.organization }}
      </p>
      <p>
        {% if exp.location %}
          {{ exp.location }}
        {% endif %}
        {% if exp.location and exp.start_time %}&bull;{% endif %}
        {% if exp.start_time %}
          {{ exp.start_time|date:"n/j/y" }} - {% if exp.end_time %}{{ exp.end_time|date:"n/j/y" }}{% else %}Present{% endif %}
        {% endif %}
      </p>
      {% if exp.description %}
        <div class="profile-description">
          {{ exp.description|pwrap|safe }}
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endif %}

{% if profile.studiesabroad.all %}
  <h4 class="margin-bot-md">Study Abroad
    {% if is_self or user|can:'edit_all_info' %}
      <a href="{% url 'edit_abroad' profile.norm_name %}" class="btn btn-default btn-sm profile-show-btn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit</a>
    {% endif %}
  <!--<button type="button" class="btn btn-sm profile-show-btn" data-toggle="collapse" data-target="#study-abroad">Show</button>-->
  </h4>
  <div id="study-abroad" class="indented">
    {% for study_abroad in profile.studiesabroad.all %}
    <div class="experience">
      <p class="school-name">
        {{ study_abroad.primary_location }}
        {% if study_abroad.primary_location and study_abroad.organization %}&mdash;{% endif %}
        {{ study_abroad.organization }}
      </p>
      {% if study_abroad.start_time or study_abroad.end_time %}
        <p>
          {{ study_abroad.start_time|date:"n/j/y" }}
          {% if study_abroad.start_time and study_abroad.end_time %}-{% endif %}
          {{ study_abroad.end_time|date:"n/j/y" }}
        </p>
      {% endif %}
      {% if study_abroad.other_locations %}
        <p>Other locations: {{ study_abroad.other_locations }}</p>
      {% endif %}
      {% if study_abroad.description %}
        <div class="profile-description">
          {{ study_abroad.description|pwrap|safe }}
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endif %}

{% if profile.honors.all %}
  <h4 class="margin-bot-md">Honors
    {% if is_self or user|can:'edit_all_info' %}
      <a href="{% url 'edit_honor' profile.norm_name %}" class="btn btn-default btn-sm profile-show-btn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit</a>
    {% endif %}
  <!--<button type="button" class="btn btn-sm profile-show-btn" data-toggle="collapse" data-target="#study-abroad">Show</button>-->
  </h4>
  <div id="honor" class="indented">
    {% for honor in profile.honors.all %}
    <div class="experience">
      <span class="school-name">
        {{ honor.title }}
      </span>
      {% if honor.received_time %}
        &mdash; {{ honor.received_time|date:"F Y" }}
      {% endif %}
    </div>
    {% endfor %}
  </div>
{% endif %}

{% if profile.updated_alumni_info %}
  <div class="text-center">
    <p>Last updated: {{ profile.updated_alumni_info }} </p>
  </div>
{% endif %}

{% if is_self or user|has_role:'staff' %}
  <div class="text-center">
    <p><span class="staff-only">Orange fields</span> can only be seen by staff.</p>
  </div>
{% endif %}



{% endblock %}
