{% extends "large_container.html" %}

{% load core_tags %}
{% load permission_tags %}
{% load thumbnail %}

{% block title %}
{{ profile.get_full_name }}
{% endblock %}

{% block inner_content %}

<!-- Name and contact info-->
<div>
  <div class="profile-name">
    <h3>{{ profile.get_full_name }}
    {% if is_self or user|can:'edit_all_info' %}
      <a href="{% url 'edit_info' profile.norm_name %}" class="btn btn-default profile-show-btn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit Profile</a>
    {% endif %}
  </h3>
  </div>
  {% thumbnail profile.pic "200x200" crop="center" as im %}
    <img class="profile-pic" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
  {% endthumbnail %}
  <h4>Personal Information</h4>
  <div class="profile-contact-card">
    {% if profile.class_year %}
      <p><span class="profile-contact-field">Class:</span> {{ profile.class_year }}</p>
    {% endif %}
    {% if is_self or user|has_role:'staff' or not mcuser|fieldhidden:'phone_number' %}
      {% if profile.phone_number %}
        <p>
          <span class="profile-contact-field {% if profile|fieldhidden:'phone_number' %} staff-only {% endif %}">
          Phone number:
          </span>
          {{ profile.phone_number|displayphone }}
        </p>
      {% endif %}
    {% endif %}
    {% if is_self or user|has_role:'staff' or not mcuser|fieldhidden:'email' %}
      {% if profile.email %}
        <p>
          <span class="profile-contact-field {% if profile|fieldhidden:'email' %} staff-only {% endif %}">
            Email:
          </span>
          {{ profile.email }}
        </p>
      {% endif %}
    {% endif %}
    {% if is_self or user|has_role:'staff' or not mcuser|fieldhidden:'birthday' %}
      {% if profile.birthday %}
        <p>
          <span class="profile-contact-field {% if profile|fieldhidden:'birthday' %} staff-only {% endif %}">
            Birthday:
          </span>
          {{ profile.birthday|date:"F j" }}
        </p>
      {% endif %}
    {% endif %}
    {% if profile.hometown %}
      <p>Hometown: {{ profile.hometown }}</p>
    {% endif %}
    {% if profile.high_school %}
      <p>High School: {{ profile.high_school }}</p>
    {% endif %}
    {% if user|has_role:'staff' %}
      <p><span class="staff-only">UTD ID:</span> {{ profile.utd_id }}</p>
    {% endif %}
  </div>
</div>

{% if profile.degrees.all %}
  <h4>Education
    <!--<button type="button" class="btn btn-sm profile-show-btn" data-toggle="collapse" data-target="#education">Show</button>-->
  </h4>
  <div id="education">
  {% for degree in profile.degrees.all %}
    <div class="well experience">
      <p class="school-name">School: {{ degree.school }}</p>
      <p>Type: {{ degree.degree_type }}</p>
      <p>Time period: {{ degree.start_time }} - {{ degree.end_time }}</p>
      {% for major in degree.majors.all %}
        {% if major.utd_major %}
          <p>Major: {{ major.utd_major }}</p>
  <!--      {% elif major.other_major %}-->
        {% else %}
          <p>Major: {{ major.other_major }}</p>
        {% endif %}
      {% endfor %}
      {% for minor in degree.minors.all %}
        {% if minor.utd_minor %}
          <p>Minor: {{ minor.utd_minor }}</p>
        {% elif minor.other_minor %}
          <p>Minor: {{ minor.other_minor }}</p>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
  </div>
{% endif %}

{% if profile.experiences.all %}
  <h4>Experience
    <!--<button type="button" class="btn btn-sm profile-show-btn" data-toggle="collapse" data-target="#experience">Show</button>-->
  </h4>
  <div id="experience">
    {% for experience in profile.experiences.all %}
    <div class="well experience">
      <p>Title: {{ experience.title }}</p>
      <p>Organization: {{ experience.organization }}</p>
      <p>Location: {{ experience.location }}</p>
      <p>Type: {{ experience.exp_type }}</p>
      <p>Time period: {{ experience.start_time }} - {{ experience.end_time }}</p>
    </div>
    {% endfor %}
  </div>
{% endif %}

{% if profile.studiesabroad.all %}
<h4>Study Abroad
  <!--<button type="button" class="btn btn-sm profile-show-btn" data-toggle="collapse" data-target="#study-abroad">Show</button>-->
</h4>
<div id="study-abroad">
  {% for study_abroad in profile.studiesabroad.all %}
  <div class="well experience">
    <p>Location: {{ study_abroad.primary_location }}</p>
    <p>Organization: {{ study_abroad.organization }}</p>
    <p>Other locations: {{ study_abroad.other_locations }}</p>
    <p>Type: {{ study_abroad.study_abroad_type }}</p>
    <p>Time period: {{ study_abroad.start_time }} - {{ study_abroad.end_time }}</p>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if is_self or user|has_role:'staff' %}
  <p><span class="staff-only">Orange fields</span> can only be seen by staff.</p>
{% endif %}



{% endblock %}
