{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load core_tags %}

{% block content %}

{% for scholar_group in scholars|group_by:3 %}
<div class="row">
  {% for scholar in scholar_group %}
  <div class="col-md-4 col-sm-12">
  {# add picture here #}
    <div class="well">
      <div class="pull-left">
      {% if scholar.pic %}
        {% thumbnail scholar.pic "100x100" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'img/user.png' %}" height="100" width="100">
      {% endif %}
      </div>
      <!-- Scholar quick info -->
      <div class="text-right">
        <a class="no-dec" href ="/{{ scholar.first_name }}{{ scholar.last_name }}">
          <h4>{{ scholar.get_full_name }}</h4>
        </a>
        {{ scholar.class_year }}</br>
        {% if scholar.phone_number %}
          {{ scholar.phone_number }}
        {% endif %}
        </br>
        {% if scholar.email %}
          {{ scholar.email }}
        {% endif %}
        </br>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% empty %}
  <h3>No scholars found.</h3>
{% endfor %}
{% endblock %}