{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block content %}

<div class="col-md-12">
  <div class="row">
    {% for scholar in scholars %}
      {# add picture here #}
      <div class="col-md-3">
        <div class="well">
          <a class="no-dec" href ="/{{ scholar.first_name }}{{ scholar.last_name }}">
            <h2>{{ scholar.get_full_name }}</h2>
          </a>
          {% if scholar.pic %}
            {% thumbnail scholar.pic "100x100" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
          {% else %}
            <img src="{% static 'img/user.png' %}" height="100" width="100">
          {% endif %}
          <p>Class: {{ scholar.class_year }}</p>
          <p>Phone: {{ scholar.phone_number }}</p>
          <p>Email: {{ scholar.email }}</p>
        </div>
      </div>
    {% empty %}
      <h3>No scholars found.</h3>
    {% endfor %}
  </div>
</div>
{% endblock %}