{% extends "base.html" %}

{% load staticfiles %}
{% load permission_tags %}
{% load thumbnail %}
{% load core_tags %}


{% block title %}
Staff
{% endblock %}

{% block content %}

<div class="col-md-12 text-center">
{% directory_header active %}
{% for scholar_group in scholars|group_by:2 %}
<div class="row">
  <div class="col-md-2"></div>
  {% if forloop.last %}
    <div class="col-md-2"></div>
  {% endif %}
  {% for scholar in scholar_group %}
  <div class="col-md-4 col-sm-12">
  {# add picture here #}
    <div class="well scholar-card">
      <div class="pull-left">
      {% if scholar.pic %}
        {% thumbnail scholar.pic "100x100" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'img/user.png' %}" height="100" width="100">
      {% endif %}
      </div>
      <!-- Scholar quick info -->
      <div class="text-right">
        <a class="no-dec" href ="/{{ scholar.get_link_name }}">
          <h4>{{ scholar.get_full_name }}</h4>
        </a>
        <span style="font-size:16px;">
        {% if scholar.user|has_role:'staff' %}
          {{ scholar.staff_title }}
        {% else %}
          {{ scholar.class_year }}
        {% endif %}
        </span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% empty %}
  <h3>No staff found.</h3>
{% endfor %}
</div>
{% endblock %}