<form method="post" action="{% url 'mccalendar:create_event' %}">
{% csrf_token %}
<ul>
{% for error in form.errors %}
  <li>{{ error }}</li>
{% endfor %}
</ul>
<div>
  {{ form.subject }}
  <label for="id_{{ form.subject.name }}">
    Subject
  </label>
  <span class="mdl-textfield__error">{{ form.subject.errors }}</span>
</div>
<div>
  {{ form.start_date }}
  <label for="id_{{ form.start_date.name }}">
    Start Date
  </label>
  <span class="mdl-textfield__error">{{ form.start_date.errors }}</span>
    {{ form.start_time }}
    <label for="id_{{ form.start_time.name }}">
      Start Time
    </label>
  <span class="mdl-textfield__error">{{ form.start_time.errors }}</span>
</div>
  <div>
    {{ form.end_date }}
    <label for="id_{{ form.end_date.name }}">
      End Date
    </label>
    <span class="mdl-textfield__error">{{ form.end_date.errors }}</span>
    {{ form.end_time }}
    <label for="id_{{ form.end_time.name }}">
      End Time
    </label>
    <span class="mdl-textfield__error">{{ form.end_time.errors }}</span>
  </div>
  <input type="submit" value="save"/>
</form>
