{% extends "base.html" %}

{% block title %}
Calendar
{% endblock %}

{% block content %}
<div class="text-center">
  <h4 class="center">{{ month_name }}, {{ year }}</h4>
  <a href="{% url 'mccalendar:month' year month 'prev' %}" class="btn">Prev</a>
  <a href="{% url 'mccalendar:month' year month 'next' %}" class="btn">Next</a>
</div>
<div class="month center">
  <table class="center">
    <tr>
      <td class="day empty day-header">Sun</td>
      <td class="day empty day-header">Mon</td>
      <td class="day empty day-header">Tue</td>
      <td class="day empty day-header">Wed</td>
      <td class="day empty day-header">Thu</td>
      <td class="day empty day-header">Fri</td>
      <td class="day empty day-header">Sat</td>
    </tr>

    {% for week in month_days %}
    <tr>
      {% for day, events, current in week %}
      <td class="day
        {% if day == 0 %}empty{% endif %}
        {% if current %} current{% endif %}
        ">
        {% if day != 0 %}
          <a href="{% url 'mccalendar:day' year month day %}" class="day-link">{{ day }}</a>
          {% for event in events %}
            <p><a href="{% url 'mccalendar:event_detail' event.id %}">{{ event.subject }} - {{ event.start_time }}</a></p>
          {% endfor %}
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    <!--  Placeholder row for now, to keep calendar off bottom of page  -->
    <tr>
      {% for i in "xxxxxxx" %}
      <td class="day empty"></td>
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}