{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}{% block titleend %} - McDermott Network{% endblock %}</title>

    <!-- jQuery - must come before Bootstrap JS file -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- Bootstrap links -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block additional_include %}
    {% endblock %}

  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">McDermott Network</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% else %}
              <li><a href="{% url 'feedback:index_redirect' %}">Feedback</a></li>
              {# <li><a href="{% url 'mccalendar:index' %}">Calendar</a></li> #}
              {# <li><a href="{% url 'documents:index' %}">Documents</a></li> #}
              <li><a href="{% url 'scholars' %}">Directory</a></li>

              <!-- Begin Dropdown account button -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'own_profile' %}">My Profile</a></li>
                  <li><a href="{% url 'issues:index' %}">Report Issue</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'password_change' %}">Change Password</a></li>
                  <li><a href="{% url 'edit_account' %}">Change Account</a></li>
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
              </li>
              <!-- End Dropdown account button -->
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
            {% block searchbox %}
              <form method="get" action="{% url 'search' %}" class="navbar-form navbar-right">
                <input type="text" name="q" id="searchbox" class="form-control" placeholder="Search..." value="{{ request.GET.q }}">
              </form>
            {% endblock %}
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid">
      <div class="row">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

  </body>
</html>

