{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>McDermott Network</title>

    <!-- Bootstrap links -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">McDermott Network</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% else %}
              <li><a href="{% url 'scholars' %}">All Scholars</a></li>
              <li><a href="{% url 'own_profile' %}">My Profile</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
          </ul>
          <form method="get" action="{% url 'search' %}" class="navbar-form navbar-right">
            <input type="text" name="q" id="searchbox" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid">
      <div class="row">
        {% block content %}
        {% endblock content %}
      </div>
    </div>

  </body>
</html>

