{% extends "base.html" %}

{% load feedback_tags %}
{% load permission_tags %}
{% load staticfiles %}

{% block title %}
Feedback - Applicant Table
{% endblock %}

{% block additional_include %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
{% if user|has_role:'staff' %}
  <div class="col-md-12 margin-bot-md">
    <a href="{% url 'feedback:add_applicant' %}" class="btn btn-default">Add Applicant</a>
    <a href="{% url 'feedback:index' %}" class="btn btn-default">Directory</a>
  </div>
{% endif %}
<div class="col-md-10 col-md-offset-1 well">
  <table class="table table-striped table-hover margin-top-lg" id="applicantTable">
    <thead>
      <tr>
        <th>Applicant</th>
        <th>Average Rating</th>
        <th>Average Interest</th>
        <th># of Feedback</th>
      </tr>
    </thead>
    <tbody>
      {% for applicant in applicants %}
        <tr>
          <td><a href="{% url 'feedback:applicant_profile' applicant.norm_name %}">{{ applicant.get_full_name }}</a></td>
          <td>{{ applicant|all_feedback|rating_average }}</td>
          <td>{{ applicant|all_feedback|interest_average }}</td>
          <td>{{ applicant|all_feedback|feedback_count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
$(document).ready(function(){
    $('#applicantTable').DataTable();
});
</script>
{% endblock %}