{% extends "large_container.html" %}

{% load feedback_tags %}
{% load permission_tags %}
{% load thumbnail %}
{% load widget_tweaks %}

{% block title %}
Feedback - {{ applicant.get_full_name }}
{% endblock %}

{% block additional_include %}
<script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
{% if user|can_read_data_for:event_name %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
  <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
{% endif %}
{% endblock %}

{% block inner_content %}
<div class="row">
  <div class="col-md-12 text-center">
    <h4 class="margin-bot-md">
      {{ applicant.gender }}
      {{ applicant.get_full_name }}
      <a href="{% url 'feedback:edit_applicant' event_name applicant.norm_name %}" class="btn btn-default btn-sm profile-show-btn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Edit</a>
    </h4>
  </div>
  <form method="post" action="" id="feedback_form">
  {% csrf_token %}
  {% if form.errors %}
    There were errors!
  {% endif %}
  <div class="col-md-6">
    <div class="row">
      <div class="text-center">
        {% thumbnail applicant.actual_pic "200x250" crop="center" as im %}
          <img style="margin-bottom:5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        {% thumbnail applicant.pic "200x250" crop="center" as im %}
          <img style="margin-bottom:5px;" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <br>
        {% if applicant.group %}
          <h6>Group {{ applicant.group }}</h6>
        {% endif %}
        {% if applicant.high_school %}
          <h5>{{ applicant.high_school }}</h5>
        {% endif %}
        {% if applicant.hometown or applicant.hometown_state %}
          <h5>
            {% if applicant.hometown %}
            {{ applicant.hometown }}{% endif %}{% if applicant.hometown and applicant.hometown_state %},{% endif %}
            {% if applicant.hometown_state %}
            {{ applicant.hometown_state }}
            {% endif %}
          </h5>
        {% endif %}
        {% if applicant.major %}
          <h6>Major: {{ applicant.major }}</h6>
        {% endif %}
        {% if applicant.career %}
          <h6>Career: {{ applicant.career }}</h6>
        {% endif %}
          <div class="col-md-12">
            <div class="form-group">
              <label for="id_comments" class="form-label">
                Notes (for personal use, will not be submitted):
              </label>
              {{ form.notes|add_class:"form-control" }}
              <span class="error">{{ form.notes.errors }}</span>
            </div>
          </div>
        {% if user|is_staff_for:event_name %}
          <table class="table table-striped table-hover margin-top-lg">
            <tbody>
              <tr>
                <td>Rating average:</td>
                <td>{{ applicant|all_feedback|rating_average }}</td>
              </tr>
              <tr>
                <td>Interest average:</td>
                <td>{{ applicant|all_feedback|interest_average }}</td>
              </tr>
              <tr>
                <td># of Favorites:</td>
                <td>{{ applicant|favorite_filter|length }}</td>
              </tr>
              <tr>
                <td># of feedback:</td>
                <td>{{ applicant|all_feedback|feedback_count }}</td>
              </tr>
              <tr>
                <td>Attended:</td>
                <td>{{ applicant.attended|convert_attended }}</td>
              </tr>
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="id_rating" class="form-label">
            Is this person a Scholar?
          </label>
          {{ form.rating }}
          <span class="error">{{ form.rating.errors }}</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="id_interest" class="form-label">
            Does this person want to be a Scholar?
          </label>
          {{ form.interest|add_class:"form-control disabled" }}
          <span class="error">{{ form.interest.errors }}</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="id_comments" class="form-label">
            Additional comments (especially about personality, soft skills):
          </label>
          {{ form.comments|add_class:"form-control" }}
          <span class="error">{{ form.comments.errors }}</span>
        </div>
      </div>
      <br>
      <div class="col-md-12 text-center">
        <a href="#" id="prev_link" class="feedback-nav-link"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
        &nbsp;&nbsp;
        <a href="{% url 'feedback:index' event_name %}" class="btn btn-default">BACK</a>
        {% if state.current != 3 %}
          &nbsp;&nbsp;
          <input class="btn btn-default" type="submit" value="SAVE" />
        {% endif %}
        &nbsp;&nbsp;
        <a href="#" id="next_link" class="feedback-nav-link"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
      </div>
      <br>
    </div>
  </div>
  </form>
  {% if user|can_read_data_for:event_name %}
    <div class="col-md-12">
      <h4>Feedback</h4>
        <div class="table-responsive">
          <table class="table table-striped table-hover margin-top-lg dt-responsive" width="100%" id="feedbackTable">
            <thead>
              <tr>
                <th>First</th>
                <th>Last</th>
                <th>Rating</th>
                <th>Interest</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
              {% for f in feedback %}
                {% if f.rating or f.interest or f.comments %}
                    <tr>
                      <td><a href="{% url 'profile' f.scholar.norm_name %}">{{ f.scholar.first_name }}</a></td>
                      <td><a href="{% url 'profile' f.scholar.norm_name %}">{{ f.scholar.last_name }}</a></td>
                      <td>{% if f.rating %}{{ f.rating }}{% endif %}</td>
                      <td>{% if f.interest %}{{ f.interest }}{% endif %}</td>
                      <td>{{ f.comments }}</td>
                    </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  {% endif %}
</div>
<script>
  $('#feedback_form').on('submit', function(event){
    event.preventDefault();
    $.ajax({
      url : window.location.href,
      type : "POST",
      data : { 
        csrfmiddlewaretoken : Cookies.get('csrftoken'),
        rating: $('input[name=rating]:checked').val(),
        interest: $('input[name=interest]:checked').val(),
        comments : $('#id_comments').val(),
        notes: $('#id_notes').val(),
      },

      // handle a successful response
      success : function(json) {
        console.log(json);
      },

      // handle a non-successful response
      error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); 
      }
    });
  });

  $(document).ready(function(){
    var event_name = '{{event_name}}';
    var applicant = '{{applicant.norm_name}}';
    var applicants = JSON.parse(Cookies.get('applicants'));
    var index = applicants.indexOf(applicant);
    function buildLink(name) {
      return '/feedback/' + event_name + '/applicant/' + name; 
    }
    if (index - 1 >= 0) {
      $('#prev_link').attr('href', buildLink(applicants[index-1]));
    } else {
      $('#prev_link').addClass('unclickable');
    }
    if (index + 1 < applicants.length) {
      $('#next_link').attr('href', buildLink(applicants[index+1]));
    } else {
      $('#next_link').addClass('unclickable');
    }
    {% if user|can_read_data_for:event_name %}
      $('#feedbackTable').DataTable({
        "order": [[ 2, "desc" ]],
        "scrollY": "400px",
        "scrollCollapse": true,
        "paging": false,
        "scrollX": true,
        "columnDefs": [
          { "type": "num", "targets": [2, 3]  },
          { "orderable": false, "targets": 4 }
        ]
      });
    {% endif %}
  });
</script>
{% endblock %}
