{% extends "base.html" %}

{% load permission_tags %}
{% load staticfiles %}
{% load thumbnail %}
{% load core_tags %}
{% load feedback_tags %}


{% block title %}
Feedback - Directory
{% endblock %}

{% block content %}
<div class="col-md-12 text-center">
  {% feedback_header 'directory' user %}
{% for applicant_group in applicants|group_by:3 %}
<div class="row">
  {% for applicant in applicant_group %}
  <div class="col-md-4 col-sm-12">
    <div class="well scholar-card">
      <div class="pull-left">
      {% if applicant.pic %}
        {% thumbnail applicant.pic "100x100" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'img/user.png' %}" height="100" width="100">
      {% endif %}
      </div>
      <!-- applicant quick info -->
      <div class="text-right">
        <a class="no-dec" href ="{% url 'feedback:applicant_profile' applicant.norm_name %}">
          <h4>{{ applicant.get_full_name }}</h4>
          <p class="card-extra-info">
            {% if applicant.high_school %}
              {{ applicant.high_school }}
              {% if applicant.hometown or applicant.hometown_state %}
                &bull;
              {% endif %}
            {% endif %}
            {% if applicant.hometown %}
            {{ applicant.hometown }}{% endif %}{% if applicant.hometown and applicant.hometown_state %},{% endif %}
            {% if applicant.hometown_state %}
            {{ applicant.hometown_state }}
            {% endif %}
          </p>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% empty %}
  <h3>No applicants found.</h3>
{% endfor %}
</div>
{% endblock %}