/* lg-con is for large_container.html */
.lg-con-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #69BE28;
  flex-shrink: 0;
}

.lg-con-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.lg-con-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.lg-con-content {
  border-radius: 2px;
  padding: 80px 56px;
  /*margin-bottom: 80px;*/
}

.lg-con-layout.is-small-screen .lg-con-content {
  padding: 40px 28px;
}

.lg-con-content h3 {
  margin-top: 12px;
}

a.no-dec {
  text-decoration: none;
}

.inherit-color {
  color: inherit;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0px auto;
}

.margin-sm {
  padding-left: 5px;
  padding-right: 5px;
}

.margin-height-md {
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin-top-lg {
  margin-top: 30px;
}

.staff-only {
  color: #C75B12;
}
/* rules for profile page, mostly */

@media (min-width: 768px) {
  .profile-pic {
    float: right;
  }
}

.profile-name h3 {
  line-height: 1;
}

.profile-contact-card {

}

.profile-contact-card p {
  color: grey;
  font-size: 16px;
  line-height: 1;
}

.profile-contact-field {
}

.experience {
  line-height: 0.5;
  margin-bottom: 2em;
}

.school-name {
  font-size: 1.2em;
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
body {
  padding-top: 80px;
  background-color: #f5f5f5;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 10px;
  }
}


/* Sidebar navigation */
.nav-sidebar {
  background-color: #f5f5f5;
  margin-right: -15px;
  margin-bottom: 20px;
  margin-left: -15px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.error {
  color: red;
}

.form-label {
  font-weight: bold;
}

.profile-show-btn {
  background: white;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
  box-shadow: none;
}

#logo {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Calendar stuff (awful b/c written by Andrew) */
.month {
  height: 500px;
  width: 85%;
}

.day {
  width: 140px;
  height: 120px;
  padding: 2px;
  margin: 2px;
  vertical-align: top;
  text-align: left;
  border-radius: 2px;
  border: 1px solid black;
  overflow-y: scroll;
  background-color: #fff;
  border-color: black;
}

.day:hover {
  border: 2px solid black;
}

.day-header {
  height: 60px;
}

.empty {
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
}

.empty:hover {
  border: none;
}

.current {
  background-color: azure;
}

.current:hover {
  border: 2px solid black;
}

.day-link {
  margin: 10px 0px 0px 10px;
}

a.day-link:link {
    text-decoration: none;
}

a.day-link:visited {
    text-decoration: none;
}

a.day-link:hover {
    text-decoration: none;
}

a.day-link:active {
    text-decoration: none;
}

